#reddit-comments-results {
  position: fixed;
  bottom: -0.75em;
  transform: translate(-50%, -50%);
  left: 50%;

  width: 80%;
  max-width: 50em;
  height: 1.5em;
  padding: 0;
  padding-left: 0.5em;
  padding-right: 0.5em;

  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;

  background-color: red;
  color: white;

  /*Animations*/
  -webkit-transition:height 0.5s;
}

#reddit-comments-results.expanded {
  z-index: 1000;
  height: 90%;
  bottom: -45%;
}
