#reddit-comments-results {
  /*Centering results*/
  transform: translateX(-50%) !important;
  left: 50%;
  width:80%;
  max-width: 50em;

  /*Keep results at bottom and on top*/
  position: fixed;
  bottom:0;
  height:1.5em;
  z-index: 10000;

  /*Flexbox fun*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  background:#C8C8C8;
  padding: 0 0.25em 0 0.25em;

  /*Animations*/
  -webkit-transition: height 0.25s;
}

#reddit-comments-results.expanded {
  height: 90%;
}

#reddit-comments-results-title {
  color: white;
  padding: 0.25em 0 0.25em 0;
}

#reddit-comments-results-close {
  color: white;
  padding: 0.25em 0 0.25em 0;
}

#reddit-comments-results-body {
  display: none;
}

#reddit-comments-results-body.expanded {
  display: -webkit-box;
  width: 100%;
  background-color: #F8F8F8;
  color: black;
  padding: 0.5em;
  height: 100%;
}
